<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Resource not available </title>
    <link href="/css/error.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="page">
            <span id="one">4</span> <span id="two">0</span> <span id="third">4</span>
        </div>
    </div>
    <div class="container2">
        <a href="/"><button class="home"> Hompage </button></a>
        <a href="/login"><button class="store"> Store </button></a>
    </div>
</body>
</html>