<link rel="stylesheet" href="/css/footer.css" type="text/css">
<footer>
  <div class="container footer">
    <div class="row">
      <div class="col-xs-12 col-lg-4 col-md-4 left size">
        <a href="/store"><img id="logo1" src="/images/alice.png"></a>
      </div>
      <div class="col-xs-12 col-lg-2 col-md-4 right size">
          <h5> Best contents </h5>
      </div>
      <div class="col-xs-12 col-lg-2 col-md-4 right size">
          <h5> Contact </h5>
      </div>
      <div class="col-xs-12 col-lg-2 col-md-4 right size">  
        <a href="/register">
          <button name="get_Started" type="button" class="get_Started s1"> Get Started > </button>
        </a>
      </div>           
  </div>
  <div class="container only">
    
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-md-4"> 
        <h3> It's like <span id="mall">walking into </span>your everyday shopping mall </h3>
        <h4> But Online !!!</h4>
        <h6> Resgister your email to get timely updates on promos and new items on the shelf. </h6>
        <form action="/newsletter" method="post">
          <input id="emailinput" type="email" placeholder="Enter your email" name="newsletter"> 
          <button name="get_Started" type="submit" class="get_Started s2"> Get Started > </button>
        </form>
    </div>   

      <div class="col-xs-12 col-lg-6 col-md-4 colimage">
        <a href="#"><img id="log" src="/images/IMG_3510.JPG"></a>
      </div>
              
  </div>
<div class="copyright"> © Copyright <%= year %> </div>

</footer>