<%- include ('Header.ejs') %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="/css/first.css">
<link href="/css/firstpagefooter.css" rel="stylesheet" type="text/css" >
<body>
    <div class="umbrella">
        <div class="search-box">
            <form action="/" method="post">
                <button type="submit" class="btn-search"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                <input name="item_searched" class="input-search" placeholder="Type to Search item...">
            </form>
        </div>
    </div>
    <div class="first_div">
        <div class="container"> 
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6" id="part1">
                    <h1> Shop with us and <br> experience our unbeatable <br> selection and exclusive <br> deals !!</h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6" id="part2">
                    <img id="image_first" src="/images/motivation.PNG">
                </div>
            </div>
            <div class="button_container">
         
              <a href="/store"><button id="shop">  Shop Now </button></a>
      
    </div>

        </div>
    </div>
    <div class="middle_div">
        <div class="container container_2">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6" id="writeups">
                    <h1> John Kart </h1>
                    <br>
                    <p> Pump Type: Basic </p>
                    <p> Hand Made</p>
                    <p> Women Pumps High Heels Shoes Women Fashion Casual Wedding Shoes Ladies pointed Toe Sexy High Heel Pink. </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6" id="shoes">
                    <img src="/images/image 1.JPG" id="shoes_img">
                </div>
                <div class="mandatory">
                    <div class="container carrier">
                    <div class="row buyshop">
                        <a href="/login"><button class="col-xs-12 col-sm-12 buy"> <strong> Buy now </strong> </button></a>
                        <a href="/store"><button class="col-xs-12 col-sm-12 shop_all"> Shop all </button></a>
                    </div>
                </div>
                </div>
        </div>
    </div>

    <div class="container" id="middleblock">
        <div class="row">
                    
                    <div class="col-xs-12 col-sm-4 col-lg-4">
                        <div id="carouselExampleDark" class="carousel carousel slide" data-bs-ride="carousel">
                                  <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                  </div>
                                  <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                      <img src="/images/image 3.JPG" class="d-block w-100 borderimage" alt="...">
                                      <div class="carousel-caption d-none d-md-block">
                                        <h5> Bmx biscycle</h5>
                                        <p> Shop for the best sporting equippment.</p>
                                      </div>
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                      <img src="/images/image 2.JPG" class="d-block w-100 borderimage" alt="...">
                                      <div class="carousel-caption d-none d-md-block">
                                        <h5> Wristwatch </h5>
                                        <p> Shop for the best men accessories.</p>
                                      </div>
                                    </div>
                                    <div class="carousel-item">
                                      <img src="/images/image 4.JPG" class="d-block w-100 borderimage" alt="...">
                                      <div class="carousel-caption d-none d-md-block">
                                        <h5> Necklace </h5>
                                        <p> Get quality women accessories </p>
                                      </div>
                                    </div>
                                  </div>
                                  <button style="display: none;"class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                  </button>
                                  <button  style="display: none;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>

                                  </button>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-lg-8 alice" id="right">
                        <h3> What are you waiting for? Start shopping </h3>
                        <p>We also pride ourselves on our excellent customer service. Our team is available to answer
                            any questions you may have and help you with any issues that may arise during your shopping
                            experience. We value our customers and strive to provide the best shopping experience possible.
                        </p>
                        <a href="/login"><button class="button-36" type="button"> Start shopping </button></a>
                        <div class="alice">
                            <h3>
                                At Alice Landlord store,
                            </h3>
                            <p>
                                we are passionate about offering you the best products at an affordable price.
                                Our team of experts carefully curates every item in our collection to ensure that you get the best value for your money.
                                We believe that everyone deserves to have access to quality products, and we are committed to making that a reality.
                            </p>
                            <a href="/store"><button class="button-36" type="button"> Check store </button></a>
                        </div>    
                    </div>
                    


        </div>
    </div>
</div>
<div class="container review">
    <h5 class="customer"> Customer Reviews </h5>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-6">
              <div class="card mb-3" style="max-width: 540px;"> 
                  <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://images.unsplash.com/photo-1530785602389-07594beb8b73?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHJhbmRvbSUyMHBlb3BsZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Isaac ZamZam</h5>
                          <p class="card-text">I couldn't be happier with my recent shopping experience on this website! From start to finish, 
                            it was a breeze, and I can't wait to buy another item here.</p>
                          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-lg-6">
              <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://images.unsplash.com/photo-1525134479668-1bee5c7c6845?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cmFuZG9tJTIwcGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" class="img-fluid rounded-start" alt="image of emily smith">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"> Emily Smith </h5>
                          <p class="card-text">The ordering process was smooth and secure. I appreciated the detailed product descriptions and clear pricing. Checkout was a breeze, and I received my order confirmation promptly.</p>
                          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                </div>
              <div>
          </div>

      </div>
  </div>


    <script src="/javascript/script.js" type="text/javascript" charset="utf-8"></script>


<%- include ('footer.ejs') %>
</body>
