@font-face {
    font-family: myFirstFont;
    src: url('/font/Fjalla_One/FjallaOne-Regular.ttf');
  }
.container{
    margin-top: 8%;  
}

.card{
    margin-right: 3%;
}
#card{
    margin-top: 3%;
}
#cardimages{
  width: 50%;
  display: grid;
  margin: auto;
  align-content: center;
  transition: transform .2s;
}
#cardimages:hover{
  transform:scale(2.5);
}
.addtocart{
    font-family: myFirstFont;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-color: #FFFFFF;
    font-size: smaller;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    box-sizing: border-box;
    border-radius: .25rem;
    justify-content: center;
    width: auto;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
}
.addtocart:hover,
.addtocart:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.addtocart:hover {
  transform: translateY(-1px);
}

.addtocart:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


/* CSS */
.button-6 {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show{
  opacity: 1 ;
  filter: blur(0);
  transform: translateX(0);
}

/* @media (max-width: 768px) {
  .body{
    display: none;
  }
} */
.row{
  display: flex;
  justify-content: center;
}
.card-body{
  text-align: center;
}