.first_div{
    background-image: url("/static/images/Shop online- first.png");
    height: 750px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.middle_div{
    background-image: url("/static/images/shop online-second.png");
    height: 750px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;

}
.third_div{
    background-image: url("/static/images/Shop online-second.png");
    height: 750px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* css for standard html */
hr{
    border-top: 40px;
    border: solid;
    background-color: #000000;
    height: 18px;
    margin: 0px;

}
#part1{
    color: white;
    margin-top: 15%;
}
/*image first page*/
#image_first{
    width: 80%;
    margin-top:20%;
    border-radius: 30%;
}
.button_container{
    display: flex;
    justify-content: left;
    margin-top: 15%;
}
@media only screen and (max-width: 576px){
    .button_container{
        display:none;
    }
}

#shop{
    width: 30%;
    border-radius: 35%;
    height: 70px;
    background-color: #57C5B6;
    border-color: #57C5B6;
    color: white;
    font-size: larger;
    cursor: pointer;
    border-sizing: border-box;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    vertical-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}
#shop:disabled{
    cursor: default;
    opacity: .3;
}
#shop:hover{
    /*background-image: linear-gradient(#51A9EE, #147BCD);*/
    background-image: linear-gradient(#002B5B, #002B5B);
    text-decoration: none;
}
#shop:active{
    background-image: linear-gradient(#3D94D9, #0067B9);
    outline:none;
}
#shop:focus{
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}

/* First display of shopping images */
.container_2{
    padding-top: 40px;
}

#writeups{

}
#shoes{
    display:flex;
    justify-items: center;

}
#shoes_img{
    width: 85%;
    border-radius: 100%;
}
.mandatory{
    padding-top: 30px;
    padding-bottom: 30px;
}

.buy{
    width: fit-content;
    margin-right: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}

@media only screen and (max-width: 576px){
    .buy{
        margin-bottom: 30px;
        }
}
@media only screen and (max-width: 576px){
    .carrier{
        display: flex;
        justify-content: center;
    }

}


.shop_all{
    width: fit-content;
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    height: fit-content;
}

.buy:hover{
    /*background-image: linear-gradient(#51A9EE, #147BCD);*/
    background-image: linear-gradient(#002B5B, #002B5B);
    text-decoration: none;
    color: white;
}
.buy:active{
    background-image: linear-gradient(#3D94D9, #0067B9);
    outline:none;
}
.buy:focus{
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}
/*

*/

/*
@media screen and (min-width: 575px){
    .parent{
            display: block;
        }
}*/
/* carosel div */

.carosel_div{
    background-color: white;
}
.carousel{
    width: 30%;
    margin-left: 35%;
}
@media screen and (max-width: 576px){
    .carousel{
        width: 100%;
        margin-left: 0;
    }
}
