#logo{
    width: 30%;
    height: 10%;
}
.navbar{
    background-color: #127789;
}
.collapse{
    margin-left:50%;
}
.btn{
    background-color: #002B5B;
    color: white;
    border-color: #002B5B;
}